# Do not upload this files and folders to Github.

# As they contain sensitive information (.env) and
# dependencies (node_modules) that can be installed via "npm install".

#---------------------------------------------------------------------#

# Dependencies
node_modules/
dist-ssr/
*.tsbuildinfo
.eslintcache

# Sensitive Information
.env
.env.local
.env.*.local
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*-error.log*

# Editor Files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing & Tools
cypress/videos/
cypress/screenshots/
__screenshots__/
*.timestamp-*-*.mjs

# System Files
.DS_Store
Thumbs.db