body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f7f6;
    margin: auto;
}

.navbar {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: 4px solid #1a252f;
    background-color: #2c3e50;
    text-align: center;
    font-weight: bold;
    position: sticky;
    font-size: 16px;
    padding: 10px 20px;
    z-index: 1000;
    margin: 0;
    top: 0;
}

.navbar li {
    display: inline-block;
    padding: 0 10px;
}

.navbar li a {
    text-decoration: none;
    color: white;
}

.navbar li a:hover {
    color: #4A8DB7;
    transition: 0.4s;
}

.hero {
    border-bottom: 6px solid #4A8DB7;
    background-color: #2c3e50;
    text-align: center;
    color: white;
    padding: 20px;
}

.hero p {
    color: #b0bec5;
    font-size: 15px;
}

.form-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border: 2px solid #4A8DB7;
    border-radius: 20px;
    margin: 50px auto;
    padding: 40px;
    width: 400px;
}

td {
    padding: 8px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    max-width: 400px;
}

.form-button {
    background-color: #4A8DB7;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    color: white;
    transition: 0.3s;
}

.form-button:hover {
    background-color: #356a8d;
}

.button-container {
    text-align: center;
}

.footer {
    background-color: #1a252f;
    color: #7f8c8d;
    text-align: center;
    padding: 15px 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}